h1 {
  display: flex;
  justify-content: center;
  margin: 50px;
  margin-bottom: 25px;
  font-size: 56px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #343434;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  max-height: 650px;
  margin: 50px;
  margin-top: 0px;
  box-shadow: 0px 5px 10px rgb(191, 191, 191);
}

.tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  text-align: center;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: flex-end;
}

#colourpicker {
  display: flex;
  border: none;
  height: 100px;
  width: 100px;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgb(191, 191, 191);
}
